.THIS {
    display:flex;
}

.THIS .leftSide{
    position:relative;
}

.THIS .btnsFavouriteAndBlackList{
    position:absolute;
    bottom:0;
}

.THIS .anotherActorFromCurrentMovie{
    cursor:pointer;
    display:inline-block;
}

.THIS .listOFActors{
    overflow: auto;
}