.THIS {
    transition:all 0.2s linear;
    height:360px;
    width:245px;
    margin:auto;
    padding:0;
    text-align:center;
    cursor:pointer;
    overflow:hidden;
    border:0;
}

.THIS .content{
}

.THIS img{
    width:245px;
    border-radius:0.25rem;
    transition:all 0.2s linear;
    object-fit:cover;
    object-position: center;
}
.THIS .searchResult{
    position: relative;
}
.THIS .searchResult .textContainer{
    position: absolute;
    color:#fff;
    font-size:12px;
    right:10px;
    bottom: 10px;
}

.THIS:hover img{
    transform:scale(1.15);
}

.THIS h2{
    margin:10px;
    font-size:18px;
}

.THIS button{
    padding:10px;
    font-size:1.25em;
}

.THIS .btnsFavouriteAndBlackList {
    background:rgba(0,0,0,0.4);
    position: absolute;
    bottom: 10px;
}
.THIS .btnsFavouriteAndBlackList .slds-button__icon{
    fill: #fff;
}
.THIS .btnsFavouriteAndBlackList .active .slds-button__icon{
    fill: #fe9339;
}
.THIS .btnsFavouriteAndBlackList .active .slds-button__icon,
.THIS .btnsFavouriteAndBlackList .slds-button:hover .slds-button__icon,
.THIS .btnsFavouriteAndBlackList .slds-button:focus .slds-button__icon{
    fill: #fe9339;
}
.THIS .btnsFavouriteAndBlackList .slds-button[disabled] .slds-button__icon,
.THIS .btnsFavouriteAndBlackList .slds-button:disabled  .slds-button__icon{
    fill: #7d7d7d;
}