.THIS {
    transition:all 0.2s linear;
    width:245px;
    margin:auto;
    padding:0;
    text-align:center;
    cursor:pointer;
    overflow:hidden;
    border:0;
}

.THIS .content{
}

.THIS img{
    width:245px;
    height: 367px;
    border-radius:0.25rem;
    transition:all 0.2s linear;
    object-fit:cover;
    object-position: top;
}
.THIS .searchResult{
    position: relative;
    overflow: hidden;
    height:367px;
}
.THIS .searchResult .textContainer{
    position: absolute;
    color:#fff;
    font-size:12px;
    right:10px;
    bottom: 10px;
}

.THIS:hover img{
    transform:scale(1.15);
}

.THIS h2{
    /* word-break: break-all; */
    font-size:18px;
}


.THIS button svg{
    width:1.2rem;
    height:1.2rem;
}

.THIS button{
    width:1.5rem;
    font-size:1.25em;
}

.THIS .btnsFavouriteAndBlackList {
    position: absolute;
    bottom: 7px;
    left:7px;
}
.THIS .searchResult .textContainer {
      text-align: right;
      padding: 7px 8px 10px 65px;
      position: absolute;
      color: #fff;
      font-size: 12px;
      right: 0;
      bottom: 0;
      left: 0px;
      background-color: rgb(8 7 7 / 42%);
      width: 100%;
  }

.THIS .btnsFavouriteAndBlackList .slds-button__icon{
    fill: #fff;
}
.THIS .btnsFavouriteAndBlackList .active .slds-button__icon{
    fill: #fe9339;
}
.THIS .btnsFavouriteAndBlackList .active .slds-button__icon,
.THIS .btnsFavouriteAndBlackList .slds-button:hover .slds-button__icon,
.THIS .btnsFavouriteAndBlackList .slds-button:focus .slds-button__icon{
    fill: #fe9339;
}
.THIS .btnsFavouriteAndBlackList .slds-button[disabled] .slds-button__icon,
.THIS .btnsFavouriteAndBlackList .slds-button:disabled  .slds-button__icon{
    fill: #7d7d7d;
}