.THIS {
    transition:transform 0.2s linear;
    height:400px;
    width:auto;
    margin-left:3%;
    margin-right:3%;
    text-align:center;
    border: solid 2px #0064ad;
    cursor:pointer;
    overflow:hidden;
}

.THIS .content{

}

.THIS img{
width:245px;
    border-radius:0.25rem;
    transition:transform 0.2s linear;
}

.THIS:hover img{
    transform:scale(1.15);
}

.THIS h2{
    margin:10px;
    font-size:18px;
}

.THIS button{
    padding:10px;
    font-size:1.25em;
}